kagglehub
kagglehub[pandas-datasets]
ijson
powerlaw
networkx
matplotlib
numpy
tqdm
pandas
pyarrow
scikit-learn
torch
transformers
accelerate
datasets
google-generativeai
openai
python-louvain
ipykernel
safetensors
PyYAML
python-dotenv